/.idea
/target
/src/test
/dictionary
/dictionary347
/InvertedFile
/BuildInvertedIndex/target
/BuildInvertedIndex/MapReduce/input
/BuildInvertedIndex/MapReduce/out*
/BuildInvertedIndex/MapReduce/.idea
/documents
/PRmatrix