*.txt
*.idea
*.class
*.jar
*.MF
*.iml
*target
/src/test
/dictionary
/InvertedFile
/documents
/TransferMatrix

/PageRank_MapReduce/output/*
/InvertedIndex_MapReduce/MapReduce/output/*


